{{ $href := cond (ne (.Params.externalLink | default "") "") (urls.JoinPath site.BaseURL .Params.externalLink "/") .Permalink }}
<article class="post-preview">
    <a href="{{ $href }}">
        <h2 class="post-title">{{ .Title }}</h2>
        {{ if .Params.subtitle }}
        <h3 class="post-subtitle">
            {{ .Params.subtitle }}
        </h3>
        {{ end }}
        {{ if .Params.image }}
        <img src="{{ .Params.image }}" alt="{{ .Title }}" class="img-title" />
        {{ end }}
    </a>

    <p class="post-meta">
        {{ partial "post_meta.html" . }}
    </p>
    <div class="post-entry">
        {{ with .Params.summary }}
        <p>{{ . }}</p>
        <a href="{{ $href }}" class="post-read-more">[{{ i18n "readMore" | default "Read more" }}]</a>
        {{ else }}
        {{ if or (.Truncated) (.Summary) }}
        {{ .Summary }}
        <a href="{{ $href }}" class="post-read-more">[{{ i18n "readMore" | default "Read more" }}]</a>
        {{ else }}
        {{ .Content }}
        {{ end }}
        {{ end }}
    </div>
</article>
